body {
  background: linear-gradient(45deg, #ff5722, #ff9800, #ffc107);
  color: #fff;
  padding: 20px;
  text-align: center;

  font-family: Arial, sans-serif;
  margin: 150px;
}

h1 {
  
  text-align: center;
}

h3 {
  color: #ff5722;
  text-align: center; 
}

form {
  margin-bottom: 50px;
}

label {
  display: block;
  margin: 10px 0;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

button {
  background-color: #ff1e00; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ff8282;
  transform: scale(1.05);
}
